*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


section{
    height: auto;
}


.card{
height: auto;  
margin: 50px;

}

.card-about-icon{
    margin-top: 2.5em;
}

.nosotros-modal{
    margin: 1em;
}
  


/* Setup inicial Hero Image */
.hero-img{
    width: auto;
    height: 90vh;
    background: url('media/pexels-andrea-piacquadio-grande.jpg');
    background-size: cover;
    background-position: center;
}

/* Tiempo para el desvanecimiento del menu */
.menu{
    transition: 0.6s;
}

/* Flecha de menu inicial */
.avanzar{
    width: auto;
    height: 10vh;
    z-index: 99;
    bottom: 3%;
    left: 50%;
    animation: up-down 1s ease infinite;
}


.img-contacto{
 margin-top: 5%;
}

/* .........................Animaciones....................................... */

/* Setup de efecto animado con la transicion mostrar arriba , funcion go top */
.animado{
    opacity:0;
    transition: all .5s;
}


/* Se crea clase de animación */
.mostrarArriba{
    animation: goTop 1s;
}


 
  /* Propiedades y comportamiento para opciones no activas */
  .menu li a {
    transition: 0.5s ease;
  }
  

  /* Propiedes para cuando pase cursor sobre las opciones de menu */
  .menu li:hover a {
    font-size: 18px;
  }

/* 
  .menu  li:hover,
  section#nosotros:hover ~ nav a[href="#nosotros"] {
    font-size: 18px;
    border-bottom: 3px solid rgb(48, 77, 206);
  } */

  /* Esconder la barra de scroll */
  ::-webkit-scrollbar{
  width: 0;
  }

/* .........................Key-Frames....................................... */

/* Movimiento de animacion para ir de abajo hacia arriba */

@keyframes goTop{
    0%{
        transform:translateY(100px);
    }

    100%{
        transform:translateY(0);
    }
}

/* Animacion para la flecha del menu de inicio */
@keyframes up-down {
    0% {
      transform: translateY(30px);
    }
    25% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(28px);
    }
  }


/* ...........................Responsive....................................... */

  /* Ajustes para version mobil */
@media screen and (max-width:992px){
    .card{
      margin: 20px;
    }

}


/* LOGIN */

.login_vertical1_img{
 
  position: absolute;
  top: 6vh;
  left: 15vh;
  width: 50vh;
  height: 50vh;
  opacity: 70%;
}

.login_vertical1{
  position: relative;
  top: 3vh;
  left: 3vh;
  width: 80vh;
  height: auto;
}

.login_vertical1_text{

  position: absolute  ;
  top: 60vh;
  left: 6vh;
  text-align:center;
  color: blue;
  
}

.login_vertical2{
  position: absolute;
  top: 3vh;
  right: 20vh;
  padding-right: 15vh;
  width: 80vh;
  height: auto;
}
.login_vertical2_atras{
  position: relative  ;
  display: inline;
  width: 3vh;
  top: 5vh;
  left: 0vh;
  color: blue;
}
.login_vertical2_retroceder{
  position: relative  ;
  display: inline-block;
  top: 4.5vh;
  left: 0vh;
  color: blue;
}

.login_vertical2_text_ingresa{

  position: relative  ;
  top: 0vh;
  left: 0vh;
  text-align:center;
  color: blue;
}
.login_vertical2_btn_ingresar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-login-vertical2 {
  width: 37vh;
  background-color: blue; /* Green */
  border: none;
  color: white;
  margin: 2vh 3vh;
  padding: 2vh 0vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.login_vertical2_no_registrado{
display: inline-flex;

}
.login_vertical2_registrate{
  display: inline-flex;
}